@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination span {
  background-color: #0147ff;
}
